certifi==2020.11.8
click==7.1.2
cycler==0.10.0
dataclasses==0.6
decorator==4.4.2
distro==1.5.0
Flask==1.1.2
future==0.18.2
imageio==2.9.0
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.3.1
lxml==4.6.1
MarkupSafe==1.1.1
matplotlib==3.3.2
networkx==2.5
packaging==20.4
Pillow==8.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
scipy==1.5.4
six==1.15.0
tifffile==2020.9.3
torch-1.4.0+cpu-cp37-cp37m-linux_x86_64.whl
torchvision==0.5.0
typing-extensions==3.7.4.3
Werkzeug==1.0.1
xmljson==0.2.1
imantics
scikit-image==0.19.1
dextr @ git+https://github.com/aoxolotl/dextr@test_req
